


.shopping-list{
    margin-top: 40px;
}

.shopping-title{
    font-weight: bold;
    font-size: 32px;
   
}
.sub-title{
    color: var(--text-fourth-color);
}

.shop-background{
    margin-top: 120px;

    font-size: 14px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.shop-text-backgr{
 
    max-width: 244px;
     opacity: 60%;
}